SUPABASE_URL=https://eizurlytawzfmvebbxeg.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVpenVybHl0YXd6Zm12ZWJieGVnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYyNDMxNzYsImV4cCI6MjA5MTgxOTE3Nn0.Nr3f4F_BmJFDoJdcgqcycYVZZAsTGUJYriWDWc8yJDs
JWT_SECRET=super_secret_key_pour_vano_chat_2026
PORT=5000
